/* Root */
.root-container {
    -fx-background-color: #1e1f26;
    -fx-font-family: "Segoe UI", "Arial";
}

/* Sidebar */
.sidebar {
    -fx-background-color: #252836;
}

/* Content */
.content-area {
    -fx-background-color: #1e1f26;
}

/* Card Layout */
.card {
    -fx-background-color: #2f3241;
    -fx-padding: 30;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 15, 0.3, 0, 5);
}

.card-title {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/* Inputs */
.input-field {
    -fx-background-color: #3b3f54;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #9aa0b4;
    -fx-background-radius: 6;
    -fx-padding: 8 12 8 12;
}

/* Buttons */
.button {
    -fx-cursor: hand;
    -fx-background-radius: 6;
    -fx-font-weight: bold;
}

.primary-button {
    -fx-background-color: #4e73df;
    -fx-text-fill: white;
}

.primary-button:hover {
    -fx-background-color: #375ad3;
}

.danger-button {
    -fx-background-color: #375ad3;
    -fx-text-fill: white;
}

.danger-button:hover {
    -fx-background-color: #375ad3;
}

/* TOTP Code */
.totp-code {
    -fx-text-fill: #00ffcc;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

/* ListView */
.totp-list {
    -fx-background-color: #2f3241;
    -fx-control-inner-background: #2f3241;
    -fx-text-fill: white;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.list-cell:selected {
    -fx-background-color: #4e73df;
}